<h1>Listing beers</h1>

<table>
  <tr>
    <th>Brewery</th>
    <th>Brew</th>
    <th>Bottle</th>
    <th>Can</th>
    <% if current_user.is_admin? %>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @beers.each do |beer| %>
  <tr>
    <td><%= beer.brewery %></td>
    <td><%= beer.brew %></td>
    <td><%= beer.bottle %></td>
    <td><%= beer.can %></td>
    <% if current_user.is_admin? %>
    <td><%= beer.picture %></td>
    <td><%= link_to 'Show', beer %></td>
    <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
    <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beer', new_beer_path %>
