<p id="notice"><%= notice %></p>

<p>
  <%= @beer.brewery %> ~ <%= @beer.brew %>
<p>
  <%= image_tag @beer.get_picture_or_generic_if_none %>
</p>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', :back %>
