<input type="text" oninput="filterRows(this, 'Brewery')">

<table class="sortable-table" border="1">
  <tr>
    <th></th>
    <th onclick="sortByHeaderElement(this)">Brewery</th>
    <th onclick="sortByHeaderElement(this)">Brew</th>
    <th onclick="sortByHeaderElement(this, true)">Rating</th>
    <th></th> 
  </tr>
  <% current_user.trieds.each do | trial | %>
  <tr>
    <td><%= image_tag trial.get_beer.get_picture_or_generic_if_none, :size => "20x20" %></td>
    <td><%= trial.get_beer.brewery %></td>
    <td><%= trial.get_beer.brew %></td>
    <td><%= trial.rating %></td>
    <td><%= link_to "Show", trial.get_beer %></td>
  </tr>
<% end %>
</table>

