<div>
  <h2><%= @user %>'s beers</h2>

  <table border="1">
    <tr>
      <th>Brewery</th>
      <th>Brew</th>
      <th>Rating</th>
      <th></th>
    </tr>
    <% current_user.trieds.each do | trial | %>
    <tr>
      <td><%= Beer.find(trial.beer_id).brewery %></td>
      <td><%= Beer.find(trial.beer_id).brew %></td>
      <td><%= trial.rating %></td>
      <td><%= link_to "Show", Beer.find(trial.beer_id) %></td>
    </tr>
    <% end %>
  </table>
</div>
